/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
}

body {
  margin: 0;
  background-color: #364061;
}

ul,
p {
  margin: 0;
  padding: 0;
}

/* Common Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.inline-icon {
  height: 18px;
  display: inline-block;
  margin-left: 5px;
}

.floating-button {
  border: none;
  border-radius: 100%;
  position: absolute;
  padding: 0;
  width: 40px;
  height: 40px;
  right: 20px;
  bottom: -20px;
  z-index: 4;

  img {
    margin-top: 3px;
    width: 18px;
    height: 18px;
  }
}

/* Resume Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#header-shadow-1,
#header-shadow-2 {
  background-image: url('../images/background-gradient.png');
  background-size: cover;
  position: absolute;
  height: 153.6px;
  border-radius: 10px;
}

#header-shadow-1 {
  top: 20px;
  width: 80vw;
  left: 10vw;
  z-index: 1;
  opacity: .2;
}

#header-shadow-2 {
  top: 10px;
  width: 90vw;
  left: 5vw;
  z-index: 2;
  opacity: .5;
}

#resume {
  background-image: url('../images/background-gradient.png');
  background-size: cover;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 25px;
  position: relative;
  z-index: 3;

  .header {
    margin: 0 20px;
    padding: 20px 0 10px;

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
      width: 100%;

      li {
        text-align: center;

        h4 {
          text-transform: uppercase;
          letter-spacing: 8px;
          font-size: 10px;
        }

        .icon {
          width: 20px;
        }
      }
    }
  }

  .balance {
    text-align: center;

    h2 {
      margin: 0;
      font-size: 16px;

      span {
        font-size: 22px;
      }
    }

    p {
      margin: 5px 0;
    }
  }
}

/* My Wallet Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#my-wallet {
  padding: 30px 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .info {
    h1 {
      font-size: 24px;
      margin-bottom: 5px;
    }

    p {
      font-size: 12px;

      span {
        opacity: .5;
      }

      img {
        height: 12px;
      }
    }
  }

  a {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 10px;
    color: #4fc1f9;
  }
}

/* Coin List
–––––––––––––––––––––––––––––––––––––––––––––––––– */


