/* Overwrites
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#overview {
  padding-bottom: 20px;

  #header {
    opacity: .3;
  }
}

/* Card Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#card {
  background-image: url('../images/background-gradient-pb.png');
  background-size: cover;
  border-radius: $border-radius;
  margin: 80px 20px 20px;
  padding: 20px 20px 30px;
  position: relative;
  @extend %flexbox;

  .floating-button {
    right: calc(50% - 20px);
    background: linear-gradient(to right, rgba(151,133,236,1) 0%,rgba(251,122,178,1) 100%); 
  }

  .wallet {
    width: 40px;
    opacity: $opacity;
    margin-left: 35px;
  }

  .balance {
    h1 {
      font-size: 20px;
      margin: 5px 0;

      span {
        font-size: 24px;
      }
    }

    p {
      opacity: $opacity;
      font-size: 12px;

      .inline-icon {
        height: 12px;
      }
    }
  }
}

/* Graph Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#graph {
  margin: 40px 0 20px;

  img {
    width: 100vw;
  }

  h4 {
    display: inline-block;
    margin: 0 20px;
    padding-bottom: 5px;
    letter-spacing: 2px;
    font-size: 14px;
  }
}

/* Percentages Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#percentages {
  padding: 0 20px;

  .tabs {
    ul {
      @extend %flexbox;
      list-style-type: none;

      li {
        padding-bottom: 5px;
        letter-spacing: 2px;
        font-size: 14px;
      }
    }
  }

  .numbers {
    @extend %flexbox;

    div {
      width: 50%;
      margin: 20px 0 0;
      padding-bottom: 20px;


      &:first-child {
        border-right: 1px solid rgba(255, 255, 255, .1);
      }

      p {
        opacity: $opacity;
        letter-spacing: 2px;
        font-size: 14px;
        margin-left: 45px;
      }

      h2 {
        margin-bottom: 10px;
        text-align: center;

        span {
          opacity: $opacity;
          font-size: 18px;
        }
      }
    }
  }
}







