/* Overwrites
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#overview {
  padding-bottom: 20px;

  #header {
    opacity: .3;
  }
}

/* Card Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#card {
  background-image: url('../images/background-gradient-pb.png');
  background-size: cover;
  border-radius: $border-radius;
  margin: 80px 20px 20px;
  padding: 20px 20px 30px;
  position: relative;
  @extend %flexbox;

  .floating-button {
    right: calc(50% - 20px);
    background: linear-gradient(to right, rgba(151,133,236,1) 0%,rgba(251,122,178,1) 100%); 
  }

  .wallet {
    width: 40px;
    opacity: $opacity;
    margin-left: 35px;
  }

  .balance {
    h1 {
      font-size: 20px;
      margin: 5px 0;

      span {
        font-size: 24px;
      }
    }

    p {
      opacity: $opacity;
      font-size: 12px;

      .inline-icon {
        height: 12px;
      }
    }
  }
}

/* Graph Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Percentages Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */








