/* Resume Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#resume-shadow-1,
#resume-shadow-2 {
  background-image: url('../images/background-gradient.png');
  background-size: cover;
  position: absolute;
  height: 153.6px;
  border-radius: 10px;
}

#resume-shadow-1 {
  top: 20px;
  width: 80vw;
  left: 10vw;
  opacity: .2;
}

#resume-shadow-2 {
  top: 10px;
  width: 90vw;
  left: 5vw;
  opacity: .5;
}

#resume {
  background-image: url('../images/background-gradient.png');
  background-size: cover;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 70px;
  padding-bottom: 25px;
  position: relative;

  .balance {
    text-align: center;

    h2 {
      margin: 0;
      font-size: 16px;

      span {
        font-size: 22px;
      }
    }

    p {
      margin: 5px 0;
    }
  }
}

/* My Wallet Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#my-wallet {
  padding: 30px 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .info {
    h1 {
      font-size: 24px;
      margin-bottom: 5px;
    }

    p {
      font-size: 12px;

      span {
        opacity: .5;
      }

      img {
        height: 12px;
      }
    }
  }

  a {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 10px;
    color: #4fc1f9;
  }
}

/* Coin List
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#coin-list {
  li {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin: 10px 20px 15px;
    background: linear-gradient(to right, rgba(83,95,128,1) 0%,rgba(51,63,96,1) 100%);
    box-shadow: 10px 10px 53px -4px rgba(0,0,0,0.24);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    padding: 20px;

    div {
      width: 33.3333%;
    }

    .coin,
    .price {
      h4 {
        margin: 0 0 7px 0;
      }

      p {
        margin: 0;
        opacity: .5;
      }
    }

    .chart {
      padding: 10px 0;
      text-align: center;

      p {
        font-weight: normal;

        img {
          height: 10px;
        }
      }
    }
  }
}